<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1979059746-eao55t7lf2jj0f6ctoeiuu2sj29o5dim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1979059746-eao55t7lf2jj0f6ctoeiuu2sj29o5dim</string>
	<key>API_KEY</key>
	<string>AIzaSyD6qcQVmK3qI2EZxqYPIw7yiLzWAAAHGCU</string>
	<key>GCM_SENDER_ID</key>
	<string>1979059746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ajfite.csc436.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>csc436-finalproject</string>
	<key>STORAGE_BUCKET</key>
	<string>csc436-finalproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1979059746:ios:53bda9fac8c9b312</string>
	<key>DATABASE_URL</key>
	<string>https://csc436-finalproject.firebaseio.com</string>
</dict>
</plist>